chainer==6.7.0            # via -r requirements.in, chainercv
chainercv==0.13.1         # via -r requirements.in
cupy-cuda91==6.7.0        # via -r requirements.in
fastrlock==0.5            # via cupy-cuda91
filelock==3.0.12          # via chainer
numpy==1.16.6             # via chainer, cupy-cuda91
pillow==6.2.2             # via chainercv
protobuf==3.13.0          # via chainer
six==1.15.0               # via chainer, cupy-cuda91, protobuf
typing-extensions==3.6.6  # via -r requirements.in, chainer
typing==3.6.6             # via -r requirements.in, chainer, typing-extensions

# The following packages are considered to be unsafe in a requirements file:
# setuptools
